{% extends 'header.html' %} {% block content %}
<main>
    <h1 class="text-center alert alert-success " role="alert">Buscador de Pokemon</h1>
    <!--Noelia B. agrege una "alerta" para que resalte el texto  -->
    

    <div class="d-flex justify-content-center" style="margin-bottom: 1%">
        <!-- Buscador del sitio -->
        <form class="d-flex" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="query" placeholder="Pikachu, Charizard, Ditto" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
    <!--Noelia . agregue emojis a los botones-->
    <div class="d-flex gap-1 col-2 mx-auto mb-3">
        <form method="post" action="{% url 'filter_by_type' %}">  
            {% csrf_token %}
            <input type="hidden" name="type" value="fire">
            <button type="submit" class="btn btn-danger">FUEGO🔥</button>
        </form>

        <form method="post" action="{% url 'filter_by_type' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="water">
            <button type="submit" class="btn btn-primary">AGUA💧</button>
        </form>

        <form method="post" action="{% url 'filter_by_type' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="grass">
            <button type="submit" class="btn btn-success">PLANTA🌿 </button>
        </form>
    </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if images|length == 0 %}
        <h2 class="text-center">La búsqueda no arrojó resultados...</h2>
        {% else %} {% for img in images %}
        <div class="col">
            <!--Noelia B. Como ya esta ejecutado un ciclo for donde se evaluan igamenes de una lista-->
            <!--ejecutamos condicionales y le damos una orden. Utilizamos img.types que es una lista dada por la base de datos-->
            <!--la informacion de la lista viene de una base de datos para tranformarla en un Card-->
            
            
            {%if "fire" in img.types%}
                <div class="card border-danger mb-3 " style="max-width: 540px; " >
            {%elif  "water" in img.types%}
                <div class="card border-primary mb-3" style="max-width: 540px; " >
            {%elif "grass" in img.types %}
                <div class="card border-success mb-3 "style="max-width: 540px; "  >
            {%else%}
                <div class="card border-warning mb-3" style="max-width: 540px; " >
            {%endif%}
            
            <!-- evaluar si la imagen pertenece al tipo fuego, agua o planta -->
            <!--Noelia B. Anulamos la linea donde se da color el marco gerenal de las tarjetas antes de ser clasificadas para que no se superpongan-->
            <!--<div class="card border-success mb-3 ms-5" style="max-width: 540px; "-->
                 <div class="row g-0">
                     <div class="col-md-4">
                         <img src="{{ img.image }}" class="card-img-top"alt="imagen">
                     </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{ img.name }} #{{ img.id }} <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" alt="Master Ball"></h3>
                            <p class="card-text">
                                <div class="alert alert-warning alert-dismissible fade show " role="alert">

                                    {% for poketype in img.types %}
                                    <strong><em>{{poketype}}</em></strong>
                                    {% endfor %} 
                                    <button type="button" class="btn-close hidden" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </p>
                            <ul class="list-group mt-3">
                            <!--Noelia B. Agrege un codigo para que encuadre los datos (altura, peso, nivel) del pokemon-->
                            <p class="card-text list-group-item"><small class="text-body-secondary"><strong>Altura: {{ img.height }}</strong></small></p>
                            <p class="card-text list-group-item "><small class="text-body-secondary"><strong>Peso: {{ img.weight }}</strong></small></p>
                            <p class="card-text list-group-item"><small class="text-body-secondary"><strong>Nivel de experiencia base: {{ img.base }}</strong></small></p>
                            <!--Noelia B. agrege a cada palabra(altura/peso/nivel) una etiqueta para que la letra y los numero  resalte-->
                            </ul>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="card-footer text-center">
                            <form method="post" action="{% url 'agregar-favorito' %}">
                                {% csrf_token %}
                                <input type="hidden" name="name" value="{{ img.name }}">
                                <input type="hidden" name="height" value="{{ img.height }}">
                                <input type="hidden" name="weight" value="{{ img.weight }}">
                                <input type="hidden" name="types" value="{{ img.types }}">
                                <input type="hidden" name="image" value="{{ img.image }}"> {% if img in favourite_list %}
                                <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white" disabled>✔️ Favoritos</button> {% else %}
                                <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white">❤️ Favoritos</button> {% endif %}
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% endif%}
        
    </div>
</main>
{% endblock %}
